.skill {
  padding: 10px;
  border-left: 2px solid var(--color-element);
  border-radius: var(--border-radius-large);
  background-color: var(--color-element-transparent);
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    &__avatar {
      display: inline-flex;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
