.avatar {
  position: relative;

  width: 100px;
  height: 100px;
  padding: 0;
  border: 1px solid var(--color-element);
  border-radius: 50%;

  background-color: transparent;

  &__image {
    width: 100%;
    border-radius: 50%;
  }

  &__edit {
    position: absolute;
    bottom: 0;

    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: rgba($color: #000000, $alpha: 70%);
  }

  &__label {
    position: absolute;
    z-index: 200;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__input {
    display: none;
  }

  :hover > &__edit,
  :active > &__edit {
    display: flex;
  }
}
