.badge {
  padding: 2px 10px;
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-small);
  color: var(--color-text-light);

  &__bg {
    background-color: var(--color-element);
  }
}
