.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__category {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    button {
      padding: 5px;
      font-size: var(--font-size-small);
    }
  }

  &__search {
    display: flex;
    gap: 5px;

    input {
      width: 100%;
      min-width: 100px;
    }
  }

  &__select {
    position: relative;

    button > p {
      width: 100%;
      text-align: right;
    }
  }
}

.label {
  font-size: var(--font-size-small);
  color: var(--color-text-transparent);
}
