.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__category {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    button {
      padding: 5px;
      font-size: var(--font-size-small);
    }
  }

  &__search {
    display: flex;
    gap: 5px;
  }

  &__select {
    position: relative;
  }
}

.select {
  display: flex;
  flex-direction: column;
  gap: 5px;

  button {
    justify-content: flex-start;
  }
}
