.button {
  display: inline-flex;
  justify-content: center;

  padding: 5px 10px;
  border: none;
  border-radius: 5px;

  color: #ffffff;
  text-decoration: none;

  background-color: var(--color-element);
  outline: none;

  &:hover {
    background-color: var(--color-element-hover);
  }

  &_danger {
    color: #ffffff;
    background-color: var(--color-danger);

    &:hover {
      color: #ffffff;
      background-color: var(--color-danger-hover);
    }
  }

  &_circle {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
  }

  &_disabled {
    cursor: default;
    opacity: 0.5;
  }

  &_mini {
    padding: 3px 5px;
    font-size: var(--font-size-small);
  }
}
