.modal {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
        font-size: var(--font-size-accent);
        text-align: center;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
