.buttonAction {
  display: flex;
  gap: 10px;
  align-items: center;

  min-width: 150px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;

  color: var(--color-element);
  text-align: left;
  text-decoration: none;

  background-color: rgb(var(--color-element-rgb), 0.2);

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
  }

  &:hover {
    border-color: var(--color-element-hover);
    background-color: rgb(var(--color-element-rgb), 0.3);
  }

  &_danger {
    color: var(--color-danger);
    background-color: rgb(var(--color-danger-rgb), 0.2);

    &:hover {
      color: var(--color-danger);
      background-color: rgb(var(--color-danger-rgb), 0.3);
    }
  }

  &_disabled {
    cursor: default;
    opacity: 0.5;
  }

  &_gray {
    color: var(--color-text-transparent);
    background-color: rgb(var(--color-element-secondary-rgb), 0.2);

    &:hover {
      border-color: var(--color-element-hover);
      background-color: rgb(var(--color-element-secondary-rgb), 0.4);
    }
  }
}
