.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  width: 100%;
  max-width: 300px;
  min-height: 500px;

  &__auth {
    text-align: center;

    p {
      color: var(--color-text-transparent);
    }
  }
}
