.modal {
    width: 100%;
    max-width: 500px;

    h2 {
        font-size: var(--font-size-accent);
        text-align: center;
    }
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}