.modal {
  width: 100%;
  max-width: 500px;

  h2 {
    font-size: var(--font-size-accent);
    text-align: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
